* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #202124;
}

header {
  background-color: #f5ba13;
  padding: 1rem;
}

header h1 {
  color: #202124;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

footer {
  position: fixed;
  font-weight: 500;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5ba13;
  color: #202124;
  text-align: center;
  padding: 0.2rem;
  font-size: 1rem;
}


footer a {
  color: #202124;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.note {
  background: #202124;
  color: whitesmoke;
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 13rem;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  background: transparent;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 60%;
  margin: 30px auto 20px auto;
  background: #202124;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

form.create-note input,
form.create-note textarea {
  background-color: #202124;
  color: whitesmoke;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}


form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #202124;
  border: none;
  border: 1px solid gray;
  border-radius: 0.5rem;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 500px) {

  .note {
    width: 40%;
  }

  .note button {
    padding: 1rem;
  }

  .icons {
    transform: scale(1.1);
  }

  form.create-note {
    width: 95%;
  }
}